<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="styles.css" rel="stylesheet" type="text/css">
        <title>Library</title>
    </head>
    <body>
        <div class="container">
            <h1><a href="/">Welcome to the Library</a></h1>
            <div class="row">
                <div class="col-lg-5">
                    <div class="panel">
                        <div class="panel-body">
                            {% block one %}
                                <h2>Test</h2>
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="panel">
                        <div class="panel-body">
                            {% block two %}
                            <h2>Another Test</h2>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
